{
	"presets": ["env"],
	"plugins": [
		["babel-plugin-root-import", {
			"paths" :[
				{
					"rootPathPrefix": "@",
					"rootPathSuffix": "./"
				},
				{
					"rootPathPrefix": "~",
					"rootPathSuffix": "./app"
				}
			]
		}]
	],
}